language: go
sudo: false
env:
  global:
    - NAME=terrahelp
install: true
jobs:
  include:
    - go: 1.16.x
    - go: tip
      env: SKIP_GO_REQ_VERSION_CHECK=1
  allow_failures:
    - go: tip
script:
  - make build
after_success:
  - make dist
deploy:
  provider: releases
  api_key:
    secure: nmky4Q4ayz8l4+rvlVAzU0Q+ixeQZZxXOPTj3fJiGx5/AX29qSLfPqV6NVB8qAzu5j7W7mjb7LWB5Tt0qyLAmHXd7N5XCLh+8ecpTvdzBqnJ/M67wV/j89Yq3pNCEYmhyu2NRGovz1cCifGTIG51aCJg2vZjdVpeqGC1WUKHk6lewO9f6hx21q05it8q+1KvFIFPMEKajtfm+nx8xkh9LdrDZTjh+r8E9Orqr9L64Ij3HUv5lWcxZ/5L83rO60dSQukPuAs+ex5ELK9+Am6T3aSyRUckBx1U91tB8dXF5hy9TSxyLgZZAaMiZORfEgKM5tNIiXhDhbf3Jt2wnm0vCHWjyxRilmfxQLXvDumn5mogr3piGKNdooufcHxT6zm5n/74JfhGf4kk1zOQ4Mk2xltnQxy0T18GfoshiCCLr7o3io+PR3RqAx6HwwpHKwj3UWujK+HbBmhSrNfjzvIK42BGLorwdPVKNXb89ZU30RP13XxfyH1W9O70e81VEeQ8WaEyprsmjtbuiKMk+uv5WxUY6fNCfxq2ozFH3oVgcgeAIsB99Ka/8u1DQ2c1flhRXwUW+RuZlOkvp8mwMZAVl7xbdYF0n6rsYAcZZpnnQoKj1s8LcfR9a+aXvTcQtpz6vY4D1GJOHEWyMp6WiBA3XdKAtqX3tGOLW95D45gdoxw=
  file_glob: true
  file:
    - dist/$NAME-*
    - dist/$NAME.SHA256SUMS
  skip_cleanup: true
  on:
    repo: opencredo/$NAME
    tags: true
    condition: $TRAVIS_GO_VERSION =~ ^1\.16
